core/n8n_workflows/Whatsapp agent.json
{
  "name": "Whatsapp agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        336
      ],
      "id": "7cbb52e6-d577-4811-914e-62d31995bbb9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z4VNhSCq1FvPW0Wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce23a4c4-2a3b-4247-898f-dab5eb388350",
              "name": "text",
              "value": "={{ $json.body.Body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        48
      ],
      "id": "6f8fc218-0579-46f3-9388-89b8953eba8c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. \n\n##Tools\ncontactAgent - Use this tool to take contact actions. You must use this before sending emails or creating calendar events within attendees.\nEmailAgent - Use this tool to take action in email\nCalendar Agent - Use this tool to take action in calendar. You must use the contact agent before using the calendar agent and make sure you pass through the email of the contact to the calendar agent\nContent Agent - Use this tool to generate a blog or research if necessary to send the required email.\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n- When asked to write a blog, do not return the whole text to the user, but instead just a confirmation that the blog post was sent as an email.\n\n## Instructions\n1) Call the necessary tools based on the user's request\n2) Use the **Think** tool to verify you took the right steps. This tool should be called every time.\n\n\n##Final Reminder\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -80
      ],
      "id": "bb58ab33-6f16-4b25-8727-43799cb3a2ee",
      "name": "AI Ultimate Assistant"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        704
      ],
      "id": "87052f6a-98ec-451f-9cae-5450a288b073",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "z4VNhSCq1FvPW0Wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        576
      ],
      "id": "271f4bd4-5013-4244-ac1f-5377375b27ff",
      "name": "Send Email",
      "webhookId": "a1ca0ee1-bfc6-495d-930e-0109b6074344",
      "credentials": {
        "gmailOAuth2": {
          "id": "FE4mxQSVGUhK5drm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        640
      ],
      "id": "46a57a35-1fd5-4896-a84c-dc3e42001566",
      "name": "OpenAI brain",
      "credentials": {
        "openAiApi": {
          "id": "z4VNhSCq1FvPW0Wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `this can be a sender's name or email address`, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        640
      ],
      "id": "185ac75d-0ff5-4cf5-9c7f-75204d7b387d",
      "name": "Get Emails",
      "webhookId": "8180fa07-8969-4fa3-a0a5-62ef5200cb5e",
      "credentials": {
        "gmailOAuth2": {
          "id": "FE4mxQSVGUhK5drm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        992,
        576
      ],
      "id": "03c44649-f062-44fa-9237-2fe87e2104ea",
      "name": "Email Reply",
      "webhookId": "356cb16d-1904-4ad7-b799-a583fbd02557",
      "credentials": {
        "gmailOAuth2": {
          "id": "FE4mxQSVGUhK5drm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        736,
        784
      ],
      "id": "ba34a70f-9b98-4ce6-a7a5-890bf3a4973c",
      "name": "Create Draft",
      "webhookId": "106153d2-908f-4ae2-81af-18de47718385",
      "credentials": {
        "gmailOAuth2": {
          "id": "FE4mxQSVGUhK5drm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        800
      ],
      "id": "f9d0d3fa-a0bd-460a-a89e-4195cd611499",
      "name": "Get Labels",
      "webhookId": "483de0b7-6415-4cd9-aae4-3f9f51efe9f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "FE4mxQSVGUhK5drm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `this is the label name or ID`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        992,
        800
      ],
      "id": "75b220a0-cd87-4873-872a-e00448822f3d",
      "name": "Label Emails",
      "webhookId": "9288b218-3125-49ed-bee0-191f9b5c2f1e",
      "credentials": {
        "gmailOAuth2": {
          "id": "FE4mxQSVGUhK5drm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "liamdatt@gmail.com",
          "mode": "list",
          "cachedResultName": "liamdatt@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `this is the email address of the attendee`, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        640
      ],
      "id": "18be3428-7d11-44f9-be22-23e08d1b6303",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JHpSCsi9QOLO6WLN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "liamdatt@gmail.com",
          "mode": "list",
          "cachedResultName": "liamdatt@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1408,
        640
      ],
      "id": "6ec3deba-a29a-40ba-a915-44b4d2fa15f9",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JHpSCsi9QOLO6WLN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "liamdatt@gmail.com",
          "mode": "list",
          "cachedResultName": "liamdatt@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1168,
        784
      ],
      "id": "240c5abf-99ad-478b-8461-2b9df595a984",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JHpSCsi9QOLO6WLN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "liamdatt@gmail.com",
          "mode": "list",
          "cachedResultName": "liamdatt@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        800
      ],
      "id": "2ffa99d7-de74-4ce1-9d58-1ccb1c28df0a",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JHpSCsi9QOLO6WLN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "liamdatt@gmail.com",
          "mode": "list",
          "cachedResultName": "liamdatt@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1408,
        800
      ],
      "id": "edb38f53-55b4-4e7d-804e-80fe653d6d31",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JHpSCsi9QOLO6WLN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1136,
        608
      ],
      "id": "b7844597-9dd3-4b8b-a47e-081854193c4a",
      "name": "OpenAI brain1",
      "credentials": {
        "openAiApi": {
          "id": "z4VNhSCq1FvPW0Wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to create a blog post",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\nYou are an expert blog writer. Use the appropiate tool to write a blog post\n\n##Tool\nResearch_perplexity - Use this to get information from the internet about a topic.\n\n##RULES\n- Your blog post should be less than 500 words\n- Output the whole blog text\n\n\n##Final Reminder\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1616,
        384
      ],
      "id": "1adb295b-3017-44ae-ac00-e6ff0711be3a",
      "name": "Content Creation Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to take action in calendar",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\nYou are a calendar assistant. You have tools to take action in calendar.\n\n##Tools\nCreate Event - Use this to create an event when there will not be an attendee\nCreate Event with Attendee - Use this to create an event when there will be an attendee\nGet Events - USe this to get events. You must ue this before updating or deleting events. \nDelete Events - Use this to delete events\nUpdate Events - Use this to update events\n\n\n##Final Reminder\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1168,
        400
      ],
      "id": "42662b00-1ab0-4df9-95fe-a51dfec03c6a",
      "name": "Calendar agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to take action in email",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\nYou are a email assistant. You have tools to take action in email.\n\n##Tools\nSend Email - Use this to send an email. Make sure we are passing a valid email to the \"To\" Variable\nGet Emails - Use this to get emails. Uou must use this before creating an email reply\nEmail Rpely - Use this to reply to emails\nCreate Draft - Use this to create a draft\nGet Labels - Use this to get lables.\nLabel Emails - Use ths to label emails. Before you label them, you must use Get Labels in order to get the label ID and you must use Get Emails to get the message ID\n\n#RULES\n- Please write the emails in HTML format\n\n##Final Reminder\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        736,
        400
      ],
      "id": "cb150b75-94ad-401e-ae0a-e1f28fa4f66e",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.WaId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        336
      ],
      "id": "2af0ba56-f7ce-489c-ad24-1fa80d7ebc15",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        16,
        336
      ],
      "id": "b2a89a21-7e7a-439b-b541-4e3e82eac10d",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to take action within the contact database",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\nYou are a contact manager. You have tools to take action within the contact database.\n\n##Tools\nGet Contact -  Use this to get contact information like email address or phone number.\nAdd or Update Contact - Use this to add a new contact to the database or update an existing contact\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        288,
        400
      ],
      "id": "a334d6ca-f22e-499e-bf03-827d9a6e1bc8",
      "name": "Contact Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5033f919-efc6-4747-8012-5de5e3cfc513",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -32
      ],
      "id": "0c047433-8c27-4476-b6f9-6bee3579d98f",
      "name": "Webhook",
      "webhookId": "5033f919-efc6-4747-8012-5de5e3cfc513"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1584,
        592
      ],
      "id": "46622495-3149-4471-a04e-5fdfd462b026",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "uYVFi9YNIuDsQqIv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6d1b016-695b-4e10-be8a-cf0953805548",
                    "leftValue": "={{ $json.body.MediaUrl0 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "39f96015-aacd-4761-af91-0a804a72ec3b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -112,
        16
      ],
      "id": "0665498f-b919-4f45-96e8-cff5b616dad1",
      "name": "Text/Audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        336,
        -80
      ],
      "id": "85c52198-7679-407e-b511-da22d5c0b1e3",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "z4VNhSCq1FvPW0Wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i889ItaPIFojpbpn8VkzYSLQHUuBnPorhihJv60zdNU",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i889ItaPIFojpbpn8VkzYSLQHUuBnPorhihJv60zdNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i889ItaPIFojpbpn8VkzYSLQHUuBnPorhihJv60zdNU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        288,
        656
      ],
      "id": "97ac8cc6-5e96-407b-98af-d3bfcb1522b3",
      "name": "get_contacts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eF6oki2qq4ENbXMX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1i889ItaPIFojpbpn8VkzYSLQHUuBnPorhihJv60zdNU",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i889ItaPIFojpbpn8VkzYSLQHUuBnPorhihJv60zdNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i889ItaPIFojpbpn8VkzYSLQHUuBnPorhihJv60zdNU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name__using_to_match_', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number', ``, 'string') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        400,
        640
      ],
      "id": "79f0d3a9-85c7-4047-b378-f266902465ce",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eF6oki2qq4ENbXMX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.MediaUrl0 }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        -80
      ],
      "id": "d314d7b1-3dcc-4b53-92a3-d9273e61db4b",
      "name": "HTTP Request",
      "credentials": {
        "twilioApi": {
          "id": "VsvGzfLoHW1YOQnn",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+19543551076",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1136,
        -112
      ],
      "id": "0c6976e1-8b47-4821-8f44-29f56300a017",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "VsvGzfLoHW1YOQnn",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1712,
        784
      ],
      "id": "b4f67b17-d892-4869-86e4-840add291752",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "uYVFi9YNIuDsQqIv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to research a topic",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1744,
        544
      ],
      "id": "298f602c-1ccb-43d6-ad76-b21790d72f4d",
      "name": "Research_perplexity"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Ultimate Assistant": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI brain": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI brain1": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content Creation Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar agent": {
      "ai_tool": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Text/Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text/Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Ultimate Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research_perplexity",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research_perplexity": {
      "ai_tool": [
        [
          {
            "node": "Content Creation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d6fb671-e435-4e86-b059-4aab5d199bf0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3568d4ed11664e07579afab62c5fc5c10ac7e4d8588ba50a7c4bf1ee8deb2a2"
  },
  "id": "rcwgDzY61P3XoYQb",
  "tags": []
}